<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta th:include="commons/layout :: head('ようこそ')" th:remove="tag"></meta>
<link rel="stylesheet" th:href="@{/css/page/login.css}" />

</head>
<body class="bg-image">
  <div class="bg-mask fadein">
    <div class="page-header text-center" style="padding-top: 25px;">
      <h2 style="margin-top: 20px;">
        <i class="fas fa-cat"></i>
        <p>ようこそ</p>
      </h2>
    </div>
    <br />
    <div class="container">
      <nav class="navbar">
        <div class="d-block flex-row mx-md-auto mx-0">
          <ul class="list-unstyled">
            <li>
              <a class="list-group-item" th:href="@{/assignments}">
                <span>稼働管理状況・契約</span>
              </a>
            </li>
            <li>
              <a class="list-group-item" th:href="@{/top}">
                <span>スタッフ・取引先・請求先・案件</span>
              </a>
            </li>
            <li>
              <a th:if="${'ADMIN'.equals(sessionUserRole)}" class="list-group-item" 
                th:href="@{/maintenance/users/search?roleName=ALL&nonIsInvalid=on}">
                <span>ユーザ情報メンテナンス</span>
              </a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
    <!--/* ▼ フッター表示 */-->
    <div th:include="commons/layout :: footer"></div>
    <!--/* ▲ フッター表示 */-->
  </div>
</body>
</html>