<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ユーザ管理</title>
<meta th:include="users_layout :: head" th:remove="tag"></meta>
</head>
<body>
  <div class="wrapper">
    <!--/* ▼ サイドメニュー表示 */-->
    <div th:include="common/layout :: sideMenu"></div>
    <!--/* ▲ サイドメニュー表示 */-->
    <div class="container">
      <!--/* ▼ タブ表示 */-->
      <div th:include="users_layout :: tabs"></div>
      <!--/* ▲ タブ表示 */-->

      <div class="tab">
        <div class="boardArea">
          <!--/* ▼ 検索フォーム */-->
          <form method="get" action="#" th:action="@{/maintenance/users/search}" th:object="${usersSearchForm}">
            <table class="search_conditions">
              <tr>
                <td colspan="2">
                  <input type="text" id="searchUserId" th:field="*{userId}" placeholder="ユーザID" maxlength="10" size="30" />
                </td>
                <td colspan="1">
                  <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" style="color: red;">error!</span>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input type="text" id="searchUserName" th:field="*{userName}" placeholder="ユーザ名" maxlength="20" size="30" />
                </td>
                <td colspan="1">
                  <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" style="color: red;">error!</span>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <label>ユーザ権限：</label>
                </td>
                <td colspan="1">
                  <input id="radioAll" type="radio" value="ALL" th:field="*{roleName}" checked="checked">
                  全て
                  <input id="radioUser" type="radio" value="USER" th:field="*{roleName}">
                  一般
                  <input id="radioAdmin" type="radio" value="ADMIN" th:field="*{roleName}">
                  管理者
                </td>
                <td colspan="1">
                  <span th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}" style="color: red;">error!</span>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <label for="nonDeleted">利用不可を除外：</label>
                </td>
                <td colspan="1">
                  <input type="checkbox" value="on" th:field="*{nonDeleted}" checked="checked" />
                </td>
                <td colspan="1">
                  <span th:if="${#fields.hasErrors('nonDeleted')}" th:errors="*{nonDeleted}" style="color: red;">error!</span>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                </td>
                <td colspan="1" style="text-align: right;">
                  <button type="submit">検索</button>
                </td>
                <td colspan="1">
                </td>
              </tr>
            </table>
          </form>
        </div>
        <!--/* ▲ 検索フォーム */-->
      </div>

      
      <div class="count" >
        <!--/* ▼ 検索結果件数 */-->
        <span th:text="'【検索結果：'+${#lists.size(usersList)}+'件】'"></span>
        <!--/* ▲ 検索結果件数 */-->
      </div>
      <div class="dataList">
        <!--/* ▼ 検索結果リスト */-->
        <table class="table table-hover table-sm" name="dataList" id="dataList">
          <thead>
            <tr>
              <th>No.</th>
              <th>ユーザID</th>
              <th>ユーザ名</th>
              <th>権限</th>
              <th>利用可/不可</th>
              <th>最終更新日時</th>
              <th>登録日時</th>
            </tr>
          </thead>
          <tbody>
            <tr th:if="user" th:each="user, userStat:${usersList}">
              <td th:text="${userStat.count}"></td>
              <td>
                <a th:href="@{'/maintenance/users/detail?userId=' + ${user.userId}}">[[${user.userId}]]</a>
              </td>
              <td>
                <label class="ellipsis" th:text="${user.userName}" th:title="${user.userName}"></label>
              </td>
              <td>[[${'ADMIN'.equals(user.roleName)} ? '管理者' : (${'USER'.equals(user.roleName)} ? '一般' : 'ERROR')]]</td>
              <td>[[${user.deleted==1} ? '不可' : '可']]</td>
              <td th:text="${#dates.format(user.updatedAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
              <td th:text="${#dates.format(user.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
            </tr>
          </tbody>
        </table>
        <!--/* ▲ 検索結果リスト */-->
      </div>
    </div>
  </div>
  <!--/* ▼ フッター表示 */-->
  <div th:include="common/layout :: footer"></div>
  <!--/* ▲ フッター表示 */-->
</body>
</html>