<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{basis/users/users_layout}">
<head th:with="uri      = ${#httpServletRequest.requestURI}
                 , isEdit   = ${#strings.contains(uri, '__@{/maintenance/users/edit}__')}
                 , isDetail = ${#strings.contains(uri, '__@{/maintenance/users/detail}__')}">
<meta th:include="basis/users/users_layout :: head('')"></meta>
<title th:text="#{pages.title.system} + ${isDetail} ? 'ユーザ詳細' : 'ユーザ編集'"></title>
</head>
<body>
  <div layout:fragment="contents">
    <div class="container"
        th:with="uri      = ${#httpServletRequest.requestURI}
                 , isEdit   = ${#strings.contains(uri, '__@{/maintenance/users/edit}__')}
                 , isDetail = ${#strings.contains(uri, '__@{/maintenance/users/detail}__')}">
        <div layout:fragment="header">
          <div th:include="basis/components :: header(${isDetail} ? 'ユーザ詳細' : 'ユーザ編集')"></div>
        </div>
        <div class="tab">
          <div class="boardArea" style="border-top: #c0c0c0 solid 1px;">
            <form id="createForm" method="post" th:object="${usersCreateForm}" th:action="${isDetail} ? '' : '__@{/maintenance/users/edit}__'">
              <table>
                <tr>
                  <!-- /* start ユーザID */ -->
                  <td colspan="1" class="h_data" >
                    <label>ユーザID</label>
                  </td>
                  <td colspan="1">
                    <label th:text="*{userId}" ></label>
                    <input type="hidden" th:field="*{userId}" />
                    <br/>
                    <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="">error!</span>
                  </td>
                  <!-- /* end ユーザID */ -->
                </tr>
                <tr th:unless="${isDetail}">
                  <!-- /* start パスワード */ -->
                  <td class="h_data" colspan="1">
                    <label class="required">パスワード</label>
                  </td>
                  <td colspan="1" th:if="${isEdit}">
                    <input id="password" type="password" th:field="*{password}" size="15" maxlength="10" placeholder="半角英数4～10文字" />
                    <br/>
                    <div th:if="${#fields.hasErrors('password')}">
                      <span  th:errors="*{password}" class="errorMsg">error!</span>
                      <br />
                    </div>
                    <input type="checkbox" id="password-check" onchange="Users.pwCheckOnchangeHandler()" />
                    <label>パスワードを表示する</label>
                    <br />
                    <label style="font-size: 12px;">※入力がある場合のみパスワードを再設定します。</label>
                  </td>
                  <!-- /* end パスワード */ -->
                </tr>
                <tr>
                  <!-- /* start ユーザ名 */ -->
                  <td class="h_data" colspan="1">
                    <label class="required">ユーザ名</label>
                  </td>
                  <td colspan="1" th:unless="${isDetail}">
                    <input type="text" th:field="*{userName}" size="30" maxlength="20" placeholder="全角1～20文字" required/>
                    <br/>
                    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="errorMsg">error!</span>
                  </td>
                  <td colspan="1" th:if="${isDetail}">
                    <label th:text="*{userName}"></label>
                  </td>
                  <!-- /* end ユーザ名 */ -->
                </tr>
                <tr>
                  <!-- /* start 権限 */ -->
                  <td class="h_data" colspan="1">
                    <label class="required">権限</label>
                  </td>
                  <div th:unless="${isDetail}">
                    <td colspan="1">
                      <input id="radioUser" type="radio" value="USER" th:field="*{roleName}" checked="checked" />
                      <label>ユーザ</label>
                      <input id="radioAdmin" type="radio" value="ADMIN" th:field="*{roleName}" required/>
                      <label>管理者</label>
                      <br/>
                      <span th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}" class="errorMsg">error!</span>
                    </td>
                  </div>
                  <div th:if="${isDetail}">
                    <td colspan="3" th:with="role=*{roleName}">
                      <label th:text="${'ADMIN'.equals(role)} ? '管理者' : (${'USER'.equals(role)} ? '一般' : 'ERROR')"></label>
                    </td>
                  </div>
                </tr>
                <!-- /* end 権限 */ -->
                <tr>
                  <td class="h_data" colspan="1">ログイン失敗数</td>
                  <td colspan="1">
                    <label th:text="*{loginFailureCount}"></label>
                    <input type="hidden" th:field="*{loginFailureCount}"/>
                  </td>
                </tr>
                <tr>
                  <td class="h_data" colspan="1">ログイン拒否日時</td>
                  <td colspan="1">
                    <label th:text="*{loginDeniedAt}"></label>
                    <input type="hidden" th:field="*{loginDeniedAt}"/>
                  </td>
                </tr>
                <tr>
                  <!-- /* start 利用可/不可 */ -->
                  <td class="h_data" colspan="1">有効/無効</td>
                  <div th:if="${isDetail}">
                    <td colspan="1">
                      <label th:text="*{isInvalid=='1' ? '無効' : '有効'}"></label>
                      <input type="hidden" th:field="*{isInvalid}"/>
                    </td>
                  </div>
                  <div th:if="${isEdit}">
                    <td colspan="1">
                      <input id="radioVaild" type="radio" value="0" th:field="*{isInvalid}" checked="checked" />
                      <label>有効</label>
                      <input id="radioInvalid" type="radio" value="1" th:field="*{isInvalid}" required/>
                      <label>無効</label>
                      <br/>
                      <span th:if="${#fields.hasErrors('isInvalid')}" th:errors="*{isInvalid}" class="errorMsg">error!</span>
                    </td>
                <tr>
                  <td class="h_data" colspan="1">最終更新者</td>
                  <td colspan="3">
                    <label th:text="*{updaterId}"></label>
                    <input type="hidden" th:field="*{updaterId}"/>
                  </td>
                </tr>
                <tr>
                  <td class="h_data" colspan="1">最終更新日時</td>
                  <td colspan="3">
                    <label th:text="*{updatedAt}"></label>
                    <input type="hidden" th:field="*{updatedAt}"/>
                  </td>
                </tr>
                <tr>
                  <td class="h_data" colspan="1">登録者</td>
                  <td colspan="3">
                    <label th:text="*{createrId}"></label>
                    <input type="hidden" th:field="*{createrId}"/>
                  </td>
                </tr>
                <tr>
                  <td class="h_data" colspan="1">登録日時</td>
                  <td colspan="3">
                    <label th:text="*{createdAt}"></label>
                    <input type="hidden" th:field="*{createdAt}"/>
                  </td>
                </tr>
                <tr>
                  <!-- /* start ボタン */ -->
                  <td colspan="1" th:with="msg= '__#{confirm.app.execution}__'">
                    <button th:if="${isDetail}" type="button" th:userId="*{userId}" style="background: #fe8b9a;"
                      th:onclick="'Users.submitHandler(\'deleteForm\', \''+ __${#strings.replace(msg, '{name}', '削除')}__ + '\')'">削除</button>
                  </td>
                  <td colspan="3" th:with="msg= '__#{confirm.app.execution}__'">
                    <button th:if="${isEdit}" type="button" id="update" 
                      th:onclick="'Users.submitHandler(\'createForm\', \''+ __${#strings.replace(msg, '{name}', '更新')}__ + '\')'">更新</button>
                    <button th:if="${isDetail}" type="button" th:data="@{/maintenance/users/edit}" th:userId="*{userId}"
                      onclick="location.href=this.getAttribute('data') + '?userId=' + this.getAttribute('userId')">編集</button>
                    <button type="button"
                      th:data="${isDetail} ? @{/maintenance/users/search} +'?roleName=ALL&nonIsInvalid=on'
                                   : @{/maintenance/users/detail} +'?userId=' + *{userId}"
                      onclick="location.href=this.getAttribute('data')">戻る</button>
                  </td>
                  <!-- /* end ボタン */ -->
                </tr>
              </table>
            </form>
            <form id="deleteForm" method="post" th:action="@{/maintenance/users/delete}">
              <input type="hidden" name="userId" th:value="${usersCreateForm.userId}" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>